<button
  type="button"
  (click)="addAddress()"
>
  Add More Address!
</button>
<br /><br />
<form
  [formGroup]="form"
  autocomplete="off"
>
  <input
    type="text"
    placeholder="Name"
    formControlName="name"
  />
  <app-error-msg
    [form]="form"
    [list]="validations['name']"
    [type]="'name'"
  />
  <input
    type="number"
    placeholder="Age"
    formControlName="age"
  />
  <app-error-msg
    [form]="form"
    [list]="validations['age']"
    [type]="'age'"
  />
  <ng-container
    formArrayName="addresses"
    *ngFor="let address of addressesForm; let i = index"
  >
    <app-address
      [address]="address"
      [index]="i"
      [validations]="validations['address']"
      (deleteAddress)="deleteAddress($event)"
    />
  </ng-container>
  <button
    type="submit"
    (click)="submit()"
  >
    Save user!
  </button>
</form>

<div class="valid">
  VALID:
  <div
    class="valid-circle"
    [ngStyle]="{ 'background-color': form.valid ? 'green' : 'red' }"
  ></div>
</div>
<pre>FORM: {{ form.value | json }}</pre>
