<form
  [formGroup]="form"
  (ngSubmit)="handlerSubmit()"
  (keydown.enter)="$event.preventDefault()"
>
  <!-- NAME -->
  <div>
    <input
      formControlName="name"
      placeholder="Name user..."
      [ngClass]="{
        'border-green': validInput(form.get('name')!),
        'border-red': invalidInput(form.get('name')!)
      }"
    />
    <app-error-msg
      [list]="validationsMessages.name"
      [controlRef]="form.get('name')!"
    >
    </app-error-msg>
  </div>
  <!-- TEXT -->
  <div>
    <button class="btn-new" type="button" (click)="addRole()">Add Role</button>
  </div>
  <!-- ARRAY ROLES -->
  <ng-container
    formArrayName="roles"
    *ngFor="let role of roles.controls; let i = index"
  >
    <app-roles
      [role]="role"
      [index]="i"
      [validationsMessages]="validationsMessages.roles"
      (editRole)="editRole($event)"
      (removeRole)="removeRole($event)"
    ></app-roles>
  </ng-container>
  <hr />
  <button type="submit">Submit !!!</button>
</form>

<div>
  <pre>
    {{ form.valid }}
    {{ form.value | json }}
  </pre>
</div>
